/* POST S */
.post-wrapper-carousel {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    padding-block: 3rem;
    height: 100%;
    width: auto;
    position: relative;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--clr-white);
    margin: 1rem;
    height: auto;
    width: 100%;
    max-width: 27rem;
    /* max-width: 47rem; */
    
    border-radius: 0.5rem;
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

.dot-nav .dot.active {
    background-color: black;
}

.slider-container {
    display: flex;
    overflow: hidden;
    width: auto;
}

.post-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-XS);
}

.icons-inline {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.img-circle {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--clr-accent-green);
    padding-bottom: 0.5rem;
}

.image-container {
    background-color: black;   
    height: 27rem;
    width: auto;
}

.post-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
}

.dot-nav {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dot {
    height: 1.5rem;
    cursor: pointer;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--clr-grey-10);

}

#arrow-right, #arrow-left {
    font-size: 3rem;
}

#arrow-right {
    position: absolute;
    cursor: pointer;
    background-color: var(--clr-white);
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    right: 2%;

}

#arrow-left {
    position: absolute;
    cursor: pointer;
    top: 50%;
    background-color: var(--clr-white);
    border-radius: 50%;
    z-index: 10;
    left: 2%;
    transform: rotate(180deg);
}

/* POST M */

.post-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    height: auto;
    gap: 1rem;
    width: 100%;
}

/* POST L */

/* logged-in */


/* BUTTON PRIMARY */


.btn-primary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);

    background-color: var(--clr-accent-red);

    transition: 0.2s ease-in-out;
}



.btn-primary:hover,
.btn-primary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-black);
}

.btn-container {
    width: 100%;
    padding: 1rem;
}


/* BUTTON SECONDARY */

.btn-secondary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--clr-white);
    border: 0.2rem solid var(--clr-black);

    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);

    transition: 0.2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-accent-red);  
}

.button-width {
    max-width: 15.5rem;
}

/* ROUND BUTTON */


/* FORM FIELD */


.contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-S);
    margin: 3rem 1rem;
    max-width: 47rem;
    min-width: 15rem;
    width: 100%;
}

.register-form input {
    max-width: 50rem;
    min-width: 10rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.15rem solid var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 0.5rem;

    color: var(--clr-grey-8);
    font-size: var(--body);
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    margin: 1rem;
    padding: 2rem;
    height: auto;
    width: auto;
    
    border-radius: 0.5rem;

}
