.carousel {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    /* gap: 32px; */
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}
.carousel-track {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* background-color: black; */
}

.carousel-track-container {
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

.carousel-slide {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 8px;
    margin: 8px;

}

.carousel-button {
    position: absolute;
    top: 50%;
    margin: 8px 16px;
    padding: 16px;
    border: none;
    background-color: white;
    border-radius: 50%;
}