

:root {

    /* Colors */

    --clr-black:#060606;
    --clr-white:#F2F2F0;
    --clr-accent-red:#F24444;
    --clr-accent-green:#465952;

    --clr-grey-10: #323232;
    --clr-grey-8:#7B7B7B;
    --clr-grey-4:#B5B5B5;
    --clr-grey-2:#EAEAEA;


    /* Fonts */

    --ff-primary:'Inter', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-title: clamp(2.25rem, 10vw + 1rem, 8rem);
    --fs-heading-1: clamp(2.25rem, 5vw + 1rem, 4rem);
    --fs-heading-2: clamp(1.25rem, 5vw + 0.25rem, 2.25rem);
    --fs-heading-3: clamp(1rem, 3vw + 0.25rem, 1.25rem);
    --fs-body: clamp(0.75rem, 3vw + 0.1rem, 1rem);
    --fs-caption: clamp(0.75rem, 3vw + 0.1rem, 1rem);

    --fs-button: 1.25rem;


    /* Spacing */

    --spacing-margin-inline: clamp(0.25rem, 3vw + 0.25rem, 0.5rem);
    --spacing-top-bottom: clamp(1rem, 5vw + 0.25rem, 2rem);
    --spacing-XS: clamp(3rem, 10vw + 1rem, 5rem);
    --spacing-S: clamp(3rem, 10vw + 1rem, 5rem);
    --spacing-M: clamp(12rem, 20vw + 1rem, 18.25rem);
    --spacing-L: clamp(12rem, 20vw + 1rem, 18.25rem);
}




/* UTILITY CLASSES */


body {
    font-family: var(--ff-primary);
    color: var(--clr-black);
}

.title {
    font-size: var(--fs-XL);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.heading-1 {
    font-size: var(--fs-L);
    font-weight: var(--fw-bold);
}

.heading-2 {
    font-size: var(--fs-M);
    font-weight: var(--fw-semi-bold);
    
}

.heading-3 {
    font-size: var(--fs-M);
    font-weight: var(--fw-regular);
}

.caption { 
    font-size: var(--fs-XS); 
    font-weight: var(--fw-regular);
    font-family: var(--ff-body);
}

p, .body {
    font-size: var(--fs-S);
    font-weight: var(--fw-regular);
    line-height: 170%;
}

.all-caps {
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

.txt-color-grey {
    color: var(--clr-black);
}


/* UTILITY CLASSES */