/* Buttons */

.btn-primary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);

    background-color: var(--clr-accent-red);

    transition: 0.2s ease-in-out;
}

.btn-primary:disabled,
.btn-secondary:disabled {
    opacity: 50%;
}

.btn-primary:hover,
.btn-primary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-black);
}

.btn-container {
    width: 100%;
    padding: 1rem;
}


/* BUTTON SECONDARY */

.btn-secondary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    width: 15.5rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--clr-white);
    border: 0.2rem solid var(--clr-black);

    font-family: var(--ff-primary);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);

    transition: 0.2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
    box-shadow: -12px 12px 0px 0px var(--clr-accent-red);  
}

.button-width {
    max-width: 15.5rem;
}

/* ROUND BUTTON */

.btn-XS {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    border-radius: 50%;
    background-color: var(--clr-white);
    padding: .5rem 0rem;
    margin: 2rem 1rem;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;

    font-family: var(--ff-primary);
    font-size: var(--fs-caption);

    transition: 0.2s ease-in-out;
}

.btn-XS:hover, 
.share-button-position:hover {
    background-color: var(--clr-white);
    transform: translateY(-5%);
    transition: all .2 ease-in-out;
} 

.share-button-position {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: var(--clr-grey-2);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FORM FIELD */



.contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-S);
    margin: 3rem 1rem;
    max-width: 47rem;
    min-width: 15rem;
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.fieldset {
    display: flex;
    border: 1px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-S);
    margin: 3rem 1rem;
    max-width: 47rem;
    min-width: 15rem;
    width: 100%;
}

input {
    max-width: 50rem;
    min-width: 10rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.15rem solid var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 0.5rem;

    color: var(--clr-grey-8);
    font-size: var(--body);
}

textarea {
    max-width: 50rem;
    min-width: 10rem;
    border: 0.15rem solid var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 0.5rem;

    color: var(--clr-grey-8);
    font-size: var(--body);
}

.outline-correct {
    outline: 2px solid darkgreen;
}

.outline-error {
    outline: 2px solid darkred;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    margin: 1rem;
    padding: 2rem;
    height: auto;
    width: auto;

    border-radius: 0.5rem;

}

