/* Buttons */

.btn-primary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    text-transform: uppercase;
    border: 2px solid var(--clr-white);
    outline: 1px solid var(--clr-grey-400);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    color: var(--clr-white);

    background-color: var(--clr-accent-red);

    transition: all .2s ease-in-out;
}

.btn-primary:disabled,
.btn-secondary:disabled {
    opacity: 50%;
}

.btn-primary:hover,
.btn-primary:focus {
   outline: 4px solid var(--clr-grey-400);
   letter-spacing: .05em;
}

.btn-container {
    width: 100%;
    padding: 1rem;
}


/* BUTTON SECONDARY */

.btn-secondary {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 
    text-transform: uppercase;
    border: 2px solid var(--clr-white);
    outline: 1px solid var(--clr-grey-400);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    color: var(--clr-grey-400);

    background-color: var(--clr-white);

    transition: all .2s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
    outline: 4px solid var(--clr-grey-400);
    letter-spacing: .05em;  
}

.button-width {
    max-width: 15.5rem;
}

/* ROUND BUTTON */

.btn-XS {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    border-radius: 50%;
    background-color: var(--clr-white);
    padding: .5rem .5rem;
    margin: 1rem 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr-white);
    outline: 1px solid var(--clr-grey-400);

    font-family: var(--ff-primary);
    font-size: var(--fs-caption);

    transition: 0.2s ease-in-out;
}

.btn-XS:hover, 
.share-button-position:hover {
    outline: 4px solid var(--clr-grey-400);
    letter-spacing: .05em; 
} 

.share-button-position {
    background-color: var(--clr-grey-2);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
