
/* root */
.carousel {
    position: relative;
    height: 50vh;
    min-height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* inner layout: left 25% - center 50% - right 25% */
.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  margin-top: 50px;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) scale(90%);
  transition: transform 600ms ease-in-out, opacity 600ms ease-in-out;
  opacity: 0;
  z-index: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* visual emphasis for center slide */
.carousel-item.center { 
  transform: translateX(-50%) scale(120%); 
  opacity: 1;
  transition: all 450ms ease-in-out;
  z-index: 3;
}

.carousel-item.center::after { 
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color: black;
  opacity: 0%;

  transition: all 0.3s ease-in-out;
}

.carousel-item.center:hover::after,
.carousel-item.center:focus::after { 
  background-color: black;
  opacity: 30%;
}

.carousel-item.left {
  transform: translateX(-150%) scale(90%);
  opacity: .8;
  background-color: black;
  z-index: 2;
  transition: all 450ms ease-in-out;
}

.carousel-item.left::after {
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color: black;
  opacity: 30%;

  transition: all 0.3s ease-in-out;

}

.carousel-item.left:hover::after,
.carousel-item.left:focus::after {
  background-color: black;
  opacity: 50%;

}

.carousel-item.right::after {
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-color: black;
  opacity: 30%;

  transition: all 0.3s ease-in-out;

}

.carousel-item.right:hover::after,
.carousel-item.right:hover::after {
  background-color: black;
  opacity: 50%;

}

.carousel-item.right {
  transform: translateX(50%) scale(90%);
  opacity: .8;
  z-index: 1;
  transition: all 450ms ease-in-out;
}

/* controls */
.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--clr-white);
  border: none;
  border: 1px solid var(--clr-black);
  margin: .5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.control.prev { 
  left: 20px; 
}
.control.next { 
  right: 20px; 
}

.control.prev:hover { left: 10px; }
.control.next:hover { right: 10px; }

/* dots */
.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  gap: .5rem;
  z-index: 11;
  width: fit-content;
  margin-top: 5rem;
  margin-inline: 5rem;
  margin-bottom: 2rem;
}

.hand-icon {
  width: 65px;
}

.flip-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.dot {
  width: 10px; 
  height: 10px; 
  border-radius: 999px;
  border: none;
  background: var(--clr-grey-100);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dot.active { background: var(--clr-accent-red); transform: scale(1.2); }

.carousel-container {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media (max-width: 900px) {
  .carousel-inner { 
    grid-template-columns: 1fr; 
  }
  .carousel-container { 
    max-height: 500px;
    width: 100%;
  }
  .carousel-item.left, 
  .carousel-item.right { 
    display: none; 
  }
  .control.prev { 
    left: 8px; 
  }
  .control.next { 
    right: 8px; 
  }

  .dots {
    margin-inline: 1rem;
    margin-bottom: 2rem;
  }

  .carousel-item,
  .carousel-item img,
  .carousel-item::after {
    z-index: 1 !important;
    width: 100%;
  }

  .control {
    z-index: 20 !important;
  }

  .dots {
    z-index: 20 !important;
  }
}
