/* FORM FIELD */

.contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-S);
    margin: 3rem 1rem;
    max-width: 47rem;
    min-width: 15rem;
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.fieldset {
    display: flex;
    border: 1px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-S);
    margin: 3rem 1rem;
    max-width: 47rem;
    min-width: 15rem;
    width: 100%;
}

input {
    max-width: 50rem;
    min-width: 10rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 0.15rem solid var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 0.5rem;

    color: var(--clr-grey-8);
    font-size: var(--body);
}

textarea {
    max-width: 50rem;
    min-width: 10rem;
    border: 0.15rem solid var(--clr-black);
    background-color: var(--clr-white);
    border-radius: 0.5rem;

    color: var(--clr-grey-8);
    font-size: var(--body);
}

.outline-correct {
    outline: 2px solid darkgreen;
}

.outline-error {
    outline: 2px solid darkred;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
    margin: 1rem;
    padding: 2rem;
    height: auto;
    width: auto;

    border-radius: 0.5rem;

}
