.form-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form.user {
    max-width: 600px;
    margin-inline: auto;
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-container > .display-1 {
    margin-top: 2rem;
}

#formTitle {
    margin-bottom:2rem;
}

.label-base {
    font: var(--ff-primary);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.input-base {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--clr-grey-400);
    background-color: var(--clr-white);
    padding: .5rem 1rem;
}

.input-base.display-1 {
    padding-right: 1.5rem;
    text-align: center;
}

textarea {
    min-height: 300px;
    max-height: 800px; 
    width: 100%;
    resize: vertical;
}

.outline-correct {
    outline: 2px solid var(--clr-accent-green);
}

.outline-error {
    outline: 2px solid var(--clr-accent-red);
}

.form > .postId-container > .content-wrapper {
    height: fit-content;
}

@media (max-width:68em) {
    .form.user {
        margin-inline: 1rem;
    }
}