/* Fix autofill overriding form input styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--clr-white) inset !important;
    box-shadow: 0 0 0px 1000px var(--clr-white) inset !important;
    -webkit-text-fill-color: var(--clr-black) !important;
    transition: background-color 5000s ease-in-out 0s;
    font: var(--ff-primary);
    color: var(--clr-grey-400);
    font-size: var(--fs-body);
}
input:autofill {
    filter: none;
    background-color: var(--clr-white) !important;
    color: var(--clr-black) !important;
    font: var(--ff-primary) !important;
    color: var(--clr-grey-400) !important;
    font-size: var(--fs-body) !important;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form.user {
    max-width: 600px;
    margin-inline: auto;
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-container > .display-1 {
    margin-top: 2rem;
}

#formTitle {
    margin-bottom:2rem;
}

.label-base {
    font: var(--ff-primary);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.input-base {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--clr-grey-400);
    background-color: var(--clr-white);
    font: var(--ff-primary);
    color: var(--clr-grey-400);
    font-size: var(--fs-body);
    padding: .5rem 1rem;
}

.input-base.display-1 {
    padding-right: 1.5rem;
    text-align: center;
}

textarea {
    min-height: 300px;
    max-height: 800px; 
    width: 100%;
    resize: vertical;
}

::placeholder {
    color: var(--clr-grey-100);
}

.outline-correct {
    outline: 2px solid var(--clr-accent-green);
}

.outline-error {
    outline: 2px solid var(--clr-accent-red);
}

.error-message {
    color: var(--clr-accent-red);
    margin-top: .25rem;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 500px;
}

.form > .postId-container > .content-wrapper {
    height: fit-content;
}



@media (max-width:68em) {
    .form.user {
        margin-inline: 1rem;
    }
    #loginForm, 
    #registerForm {
        margin-inline: auto;
        
    }
}