
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    height: fit-content;
    z-index: 50;
    background: var(--clr-white);
    padding-top: 1rem;
    margin-inline: auto;
    width: 100%;
    max-width: 1800px;
    border: 1px black;
}

.logo {
    position: relative;
    padding-block: 2rem;
    z-index: 10;
    cursor: pointer;
    background: var(--clr-white);
    transition: transform 0.3s ease-in-out;
}


.logo:hover {
   transform: scaleX(110%);

}

.desktop-wrapper {
    display: flex;
    width: 100;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    flex-shrink: 1;
    height: fit-content;
    transition: all;
    transition-duration: 300;
}

.nav-link {
    position: relative;
    font-size: var(--body);
    font-family: var(--ff-primary);
}

.header > .nav-link {
    color: var(--clr-white);
}

.nav-link::after {
    content: '';
    position: absolute;
    left:0;
    top:1.5rem;
    width: .5rem;
    height:.18rem;
    background-color: transparent;

    transition: transform 0.3s ease-in-out;
}

.nav-link::after:hover {
    content: '';
    position:absolute;
    left:0;
    top:1.5rem;
    width: 10px;
    height:.18rem;
    background-color: var(--clr-accent-red);

    transition: transform 0.3s ease-in-out;
}


.mobile-nav-link {
    font-size: var(--body);
    font-family: var(--ff-primary);
    transition: all;
    animation-duration: 300;
    margin-block:4rem;
    margin-inline:2rem;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: var(--fw-medium);
    font-style: italic;
    color: var(--clr-grey-400); 
}

.nav-link:hover::after,
.nav-link:focus::after,
.active-link::after {
  transform: scaleX(1);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 2px;
  background: var(--clr-accent-red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.logo-container {
    position: relative;
    border: 5px, black;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
    margin-inline: 2rem;
}

.logo-img {
    cursor: pointer;
    object-fit: cover;
    height: 100%;
}

.menu-box.nav-visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.menu-box {
    background: var(--clr-white);
    position: fixed;
    left: 0%;
    padding-block:8rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    opacity: .9;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.mobile-nav {
    position: absolute;
    top: 2rem;
    right: 6rem;
    cursor: pointer;
}

.footer-container > .navlink, .caption{
    color: var(--clr-white) !important;
    cursor: pointer;
}

.footer-container > a {
    color: var(--clr-white) !important;
    cursor: pointer;
}

.footer-container > .nav-link:hover::after {
    background-color: var(--clr-white) 
}


.footer {
    display: flex;
    flex-direction: column ;
    gap: 2rem;
    align-items: center;
    margin-block: 4rem;
    padding-block: 5rem;
    background-color: var(--clr-accent-red);
}

.footer-container {
    display: flex;
    flex-direction: column ;
    gap: 1rem;
    align-items: center;
}

.logo-footer {
    width: 169px;
    transition: transform 0.3s ease-in-out;
}

.logo-footer:hover {
    transform: scale(110%);
}


#menu-btn {
    border: none; 
    font-size: 3rem;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#activeLink {
    text-decoration: underline;
}


#close-icon {
    display:none;
}

@media (max-width:68em) {
  .desktop-wrapper {
    display: none;
  }
  #menu-btn {
    display: block;
    z-index: 50;
  }
}
