
.post-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top:4rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.post-container {
    width: clamp(min(50vw, 20rem), 1200px, max(90vw, 1200px));
    height: fit-content;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: .5rem;
    overflow: hidden;
    background-color: var(--clr-white-200);
    margin-block: 1rem;
    height: clamp(min(90vw, 397px), 397px, max(40vw, 800px));
}

.post-container:hover,
.post-container:focus
 {
    background-color: var(--clr-white);
    letter-spacing: 5%;
     box-shadow: 0 4px 4px 0 rgba(29, 26, 25, 0.20);

}

.post-container:hover .description {
    letter-spacing: 10%;
}

.post-img-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100%;

}

.post-img-overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0%;
    pointer-events: none;
}

.post-container:hover .post-img-overlay {
   opacity: 20%;
}

.pic-mini-container {
    position: relative;
    max-width: 230px;
    min-width: 150px;
    margin: auto;
    overflow: hidden;
    margin-block: 1rem;
}

.pic-mini {
    transform: scale(200%);
}

.main-content {
    display: flex;
    flex-direction: column;
    width: clamp(min(20vw, 200px), 400px, max(90vw, 400px));
    gap: 2rem;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding-inline:2rem;
    height: fit-content;
    
}

.title-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin-inline: 2rem;
    margin-bottom: 2rem;
}

.author {
    width: fit-content;
    margin: auto;
}

.description.single-post {
    display: -webkit-box;            
    -webkit-box-orient: vertical;     
    -webkit-line-clamp: 2;            
    overflow: hidden;                 
    text-overflow: ellipsis;        
    line-clamp: 2;                    
    padding-inline: 0.5rem;
    max-width: 250px;
    margin-top: 1rem;
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.display-1.single-post {
    display: -webkit-box;            
    -webkit-box-orient: vertical;     
    -webkit-line-clamp: 2;            
    overflow: hidden;                 
    text-overflow: ellipsis;        
    line-clamp: 2;                    
}

.main-content > .post-tags  {
    display: flex;
    flex-direction: col;
    justify-content: start;
    gap: .5rem;
    width: 100%;
    color: var(--clr-grey-3);
}

.main-content * .title-content {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.postId-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    cursor: default;
}

.postId-container > .postId-img-container {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.postId-container > .user-container {
    display: flex;
    flex-direction: row;
    max-width: 230px;
    min-width: 150px;
}

.postId-container > .user-content {
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    justify-content: space-between;
    padding-inline: 1rem;
    margin-top: 3rem;
}

.user-container > .user-content {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    height: fit-content;
    width: 100%;
}

.title-post {
    display: flex;
    flex-direction: column;
}


@media (max-width:68em) {
    .post-container {
        flex-direction: column;
        height: fit-content;
        align-items: center;
        margin: 1rem;
        background-color: var(--clr-white);
        box-shadow: 0 4px 4px 0 rgba(29, 26, 25, 0.20);
    } 

    .main-content {
        width: 100%;
    }

    .content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .postId-container > .flex-XS-col {
        align-items: center;
    }

    .title-content {
        flex-direction: column;
    }

    .post-img-container {
        height: 300px;
    } 
    .postId-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .postId-img-container {
        height: 300px;
        width: 100vw;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description.single-post  {
        width: 100%;
        margin-inline: auto;
    }
}