

:root {

    /* Colors */

    --clr-black:#0A090A;
    --clr-white:#FDF3E2;
    --clr-accent-red:#DC0D07;
    --clr-accent-green:#465952;

    --clr-grey-400: #171617;
    --clr-grey-300:#282127;
    --clr-grey-200:#433C42;
    --clr-grey-100:#979589;
    --clr-white-300:#D5C5B5;
    --clr-white-200:#ECDCBF;


    /* Fonts */

    --ff-primary: 'Playfair', serif;
    --ff-secondary: 'Updock', cursive;

    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --fs-display-1: clamp(3rem, 10vw + 1rem, 4rem);
    --fs-display-2: clamp(2rem, 5vw + 1rem, 3rem);
    --fs-subtitle: clamp(1.5rem, 5vw + 0.25rem, 2rem);
    --fs-body: 1rem;
    --fs-caption: .7rem;

    --fs-button: 1.5rem;


    /* Spacing */

    --spacing-margin-inline: clamp(1rem, 20vw + 1rem, 10rem);
    --spacing-top: clamp(3rem, 20vw + 1rem, 5rem);
    --spacing-bottom: clamp(5rem, 20vw + 1rem, 10rem);
    --spacing-XS: clamp(.5rem, 10vw + 1rem, 1rem);
    --spacing-S: clamp(1.5rem, 10vw + 1rem, 2rem);
    --spacing-M: clamp(2.5rem, 20vw + 1rem, 3rem);
    --spacing-L: clamp(4rem, 20vw + 1rem, 5rem);
}


/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */

* {
    margin:0;
    padding:0;
    font: inherit;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Avoid double scroll bars */
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--clr-white);
    font-family:var(--ff-primary), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: always;
    font-feature-settings: normal;
}

/* Make images easier to work with  */
img,
picture,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Remove built-in type */
input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
    color: var(--clr-grey-400);
}

a {
    color: var(--clr-grey-400);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* CSS RESET */


/* UTILITY CLASSES */


body {
    font-family: var(--ff-primary);
    color: var(--clr-black);
}

.margin-i-S {
    margin-inline: var(--spacing-S)
}

.display-1 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-title);
    font-family: var(--ff-secondary);
}

.display-2 {
    font-size: var(--fs-display-2);
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
    text-transform: uppercase;
}

.subtitle-1 {
    font-size: var(--fs-heading-2);
    font-weight: var(--fw-medium);
    font-style: italic;
    
}

.subtitle-2 {
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-medium);
}

.caption { 
    font-size: var(--fs-caption); 
    font-weight: var(--fw-regular);
}

.caption-italic { 
    font-size: var(--fs-caption); 
    font-style: italic;
    
}

p, .body {
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

.all-caps {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: var(--fw-bold);
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.txt-color-grey {
    color: var(--clr-grey-8);
}

.bg-black {
    background-color: var(--clr-black);
}

.bg-red {
    background-color: var(--clr-accent-red);
}

.overflow-hidden {
    overflow: hidden;
}

.white-font {
    color: var(--clr-white);

}

.flex-S-col {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-S);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-XS-col {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
}

.flex-S-row {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-XS);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.underline {
    text-decoration: underline;
    text-underline-offset: .3rem ;
}

.img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.invisible {
    display: hidden;
}

/* UTILITY CLASSES */